bin/
gen/
.classpath
.project
local.properties
.settings/
.externalToolBuilders/*
obj/
.cproject
libs/*.properties
*.class

# Gradle files
.gradle/
build/

# Android Studio files
.idea/
*.iml

# jni obj files
jni/*/obj/*

# MAC auto-gen files
.DS_Store

subprojects/LibPlatformCommon/build/
subprojects/LibPlatformSDK/build/
subprojects/SubDemo1/.idea/

